DB_HOST_1=your_db_host
DB_HOST_2=your_db_host

DB_NAME=your_database
DB_PORT=5432

DB_USER=your_username
DB_PASSWORD=your_password

DB_USER=<UR_LOGIN>
DB_PASSWORD=<UR_PASS>

API_BASE_URL=http://localhost:8000