# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# Pytest
.pytest_cache/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python env
.env

# Coverage
.coverage
htmlcov/

# Allure
allure-results/
allure-report/